<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
{#    <link rel="stylesheet" href="files/style.css">#}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
</head>
<body>
    <div class="border" id="navbar">
        <ul class="nav justify-content-end">
            <li class="nav-item">
              <a class="nav-link active" id="homepage" href="{% url 'home' %}">HomePage</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="login" href="#">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="register" href="{% url 'register' %}">Register</a>
            </li>
          </ul>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xl cls text-right">
                    سلام. به سامانه ی انتخاب واحد مجازی خوش آمدید.
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xl">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>